@media (prefers-color-scheme: dark) {
  body {
    background: #fff;
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}
.app {
  padding: 50px;
}
